/* OpenSans */
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans Light;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans Semibold;
    src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans Bold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans Extra Bold;
    src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
}

body {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
a:hover {
    color: grey;
    transition: 0.3s;
}

h1 {  
    font-size: 200%;
    text-transform: uppercase;
    font-family: OpenSans Bold;
}
h2 {
   font-size: 175%;
   text-transform: uppercase;
   font-family: OpenSans Semibold; 
}
h3 {
    font-size: 150%;
    text-transform: uppercase;
    font-family: OpenSans Semibold;
}
h4 {
    font-size: 125%;


}
h5 {
    font-size: 110%;

}
h6 {
    font-size: 105%;
}


.flex-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-center {
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.flex-center_vert {
    -webkit-align-items: center;
            align-items: center;
}
.flex-center_hor {
    -webkit-justify-content: center;
            justify-content: center;
}

.align-center {
    text-align: center;
}

.noselect {
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;      
    user-select: none; 
}

.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0;
}

::placeholder               {font-family: 'OpenSans';font-size: inherit;color: #000;opacity: 1;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
::-webkit-input-placeholder {font-family: 'OpenSans';font-size: inherit;color: #000;opacity: 1;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
::-moz-placeholder          {font-family: 'OpenSans';font-size: inherit;color: #000;opacity: 1;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
:-moz-placeholder           {font-family: 'OpenSans';font-size: inherit;color: #000;opacity: 1;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
:-ms-input-placeholder      {font-family: 'OpenSans';font-size: inherit;color: #000;opacity: 1;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}

::selection {
    background: #000;
    color: #fff;
}
::-moz-selection {
    background: #000;
    color: #fff;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.main-block {
    margin-bottom: 30px;
}
.marked-list {
    margin-top: 5px;
    margin-bottom: 5px;
}
.left-block {
    margin-bottom: 30px;
}
.photo {
    width: 240px;
    height: 240px;.
    margin:auto;
    margin-bottom: 20px;
    border-radius: 100%;
    background-image: url("../images/ava.jpg");
    background-size: contain;
    background-repeat:no-repeat; 
}
.divider {
    border-top: 1px solid #8c8b8b;
    width: 50px;
    display: inline-block;
}
.left-section {
    padding-top: 10px;
}
.contacts {
    padding-top: 10px;
}
.summary {
    margin-bottom: 40px;
}
.work-experience {
    margin-bottom: 20px;
}
.work-experience-header {
    align-items: center;
    justify-content: space-between;
}
.org-name-position-wrap {
    margin-bottom: 5px;
}
.edu {
    margin-bottom: 40px;
}
.item {
    margin: 10px 0px 10px 0;
}
.highlights {
    margin: 0 0 40px 0;
}
#cases {
    margin-bottom: 40px;
}

/* MEDIA */
@media (max-width: 2600px) { 
    .photo {
        margin: auto;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 1599px) { 
    .photo {
        margin: auto;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 1199px) {

}
@media (max-width: 991px) {
      .photo {
        margin: auto;
        margin-bottom: 20px;
        width: 190px;
        height: 190px;
    }
}
@media (max-width: 767px) { 
  
}
@media (max-width: 575px) {
    h2, h3  {
        text-align: center;
    }
    .photo {
        margin: auto;
        margin-bottom: 20px;
        width: 255px;
        height: 255px;
    }
}
@media (max-width: 413px) {
}